home-assistant_v2.db*
home-assistant.log
.cloud/
.storage/*
!.storage/lovelace
secrets.yaml
*.token
www
tts
esphome/common/secrets.yaml
esphome/.vscode
blueprints/
.vscode
esphome/test*.yaml
glances
custom_components/
home-assistant.log*
nest/*